</br></br></br></br></br></br></br>

<h1 class="text-center mt-4">Log in</h1>
  
<div class="container">
<div class="row justify-content-center">
<div class="col-10">


<% if flash[:errors]%>
   <center> <li style="color:red"><%=flash[:errors]%>  </li></center>
<%end%>

<%= form_for @user, :controller => 'sessions', :url => '/login', class: "shadow p-3 mb-3 bg-info rounded"  do |f| %>
  <div class="form-group row">

    <%= f.label :email, class: "col-2 col-form-label text-light" %>
    <div class="col-7">

    <%= f.text_field :email, class: "form-control shadow rounded", placeholder: "Enter your email" %>
    </div>
  </div>
  
  <div class="form-group row">
    <%= f.label :password, class: "col-2 col-form-label text-light" %>
   <div class="col-7">
    <%= f.password_field :password, class: "form-control shadow rounded", placeholder: "Enter your password" %>
    </div>
    </div>
    
   
    <div class="form-group row justify-content-center">
    <%= f.submit "login", class: "btn btn-outline-dark-blue btn-lg" %>
    
    </div>
  <% end %>
</div>
<div class="mb-1">
 <center><%= link_to '[return to home ]', root_path, class: "text-info" %></center> 

</div>
</div>
</div>