<!DOCTYPE html>
<html >
<head>
  <style>
      .outer{
         display: flex;
         align-items: center; /* Use another value to see the result */
         width: 100%;
         height: 400px;
         background-color: #1faadb;
      }
      </style>
      </head>
      <body>
</br></br></br></br></br></br></br>
<center><h1>New User Sign-Up Form</h1></center>
  
<div class="container">
<div class="row justify-content-center">
<div class="col-10">

<ul>
<div class="outer">
<% if @user.errors.any? %>
  <% @user.errors.full_messages.each do |err| %>
    <li style="color:red"> <%=err %></li>
    </ul>
    <%end%>
 <%end %>

<%= form_for @user, class: "shadow p-3 mb-3 bg-info rounded" do |f| %>
  <div class="form-group row">
    <%= f.label :first_name, class: "col-2 col-form-label text-light" %>
    <div class="col-7">
    <%= f.text_field :first_name, class: "form-control shadow rounded", placeholder: "First name" %>
    </div>
  </div>
  

  <div class="form-group row">
    <%= f.label :last_name, class: "col-2 col-form-label text-light" %>
      <div class="col-7">
    <%= f.text_field :last_name, class: "form-control shadow rounded", placeholder: "Last name" %>
      </div>
   </div>

   <div class="form-group row">
    <%= f.label :email, class: "col-2 col-form-label text-light" %>
      <div class="col-7">
    <%= f.email_field :email, class: "form-control shadow rounded", placeholder: "Email" %>
      </div>
   </div>
    

    <div class="form-group row">
    <%= f.label :phone_number, class: "col-2 col-form-label text-light" %>
      <div class="col-7">
    <%= f.telephone_field :phone_number, class: "form-control shadow rounded", placeholder: "Phone Number" %>
      </div>
   </div>
    
   <div class="form-group row">
    <%= f.label :password, class: "col-2 col-form-label text-light" %>
      <div class="col-7">
    <%= f.password_field :password, class: "form-control shadow rounded", placeholder: "Password" %>
      </div>
   </div>

    <div class="form-group row justify-content-center">
    <%= f.submit class: "btn btn-outline-light btn-lg" %>
    </div>
<% end %>
</div>
<div class="mb-1">
<%# <%= link_to '[ Cancel and return to articles listing ]', users_path, class: "text-info" %> 

</div>
</div>
</div>
</div>
</body>
</html>