

<h2>Lesson Sign-Up Form</h2>
<br/>

<ul>
<% if @lesson.errors.any? %>
  <% @lesson.errors.full_messages.each do |err| %>
    <li style="color:red"> <%=err %></li>
    </ul>
    <%end%>
 <%end %>
<%= form_for @lesson do |f| %>
 
   <%# Date: <%=f.date_select :date %> 
  <%# Date: <%=f.date_field :date %> 
  Lesson Name: <%= f.select :lesson_name, [ 'Front 9 - New Golfers','Back 9 - Beginner Golfers','Tee Up - Intermediate', 'Tee Up - Experienced' ], :prompt => 'Select One' %> <br />
  <br/>
  Instructor: <%= f.collection_select :instructor_id, Instructor.all, :id, :full_name, :prompt => 'Select One' %><br />
   <br/>
  Date: <%= f.text_field :date %> <br />
  <br/>
  Time: <%= f.time_field :time %> <br />
  <br/>
  Location: <%=f.collection_select :location_id, Location.all, :id, :city_state %> <br />
  <br/>
  Skill Level: <%= f.select :skill_level, [ 'Beginner','Intermediate','Advanced' ], :prompt => 'Select One' %> <br/>
  <br/>
   

   <%=f.submit 'Sign-Up' %>
 <%end %>
 