<br>
<center><h2>Lesson Confirmation</h2></center>
<br>
<table align="center">
     
   <tr>
      <td>
      <hr><br>
   
      Hi <b><%= @lesson.user.first_name %></b>, your lesson has been confirmed! 
      <br><br>
      <b>Lesson:</b> &nbsp; <%= @lesson.lesson_name %> <br>
      <b>Date:</b> &nbsp; <%= @lesson.date %> <br>
      <b>Time:</b> &nbsp; <%= @lesson.time %> <br>
      <b>Skill Level:</b> &nbsp; <%= @lesson.skill_level %> <br>
      <b>Hand Position:</b> &nbsp; <%= @lesson.hand_position %> <br>
      <br>
     
      <b>Instructor:</b> &nbsp; <%= @lesson.instructor.full_name %> <br>
     
      <b>Location:</b> &nbsp; <%= @lesson.location.city_state %> <br>

      <br>
      </td>
   </tr>

   <tr>
      <td>
         <hr><br>
      <font size="2px">
      <b>Want to book another lesson? <%= link_to 'Book Lesson', new_lesson_path %></b><br>
      <br>
      <b>Need to make changes to this lesson?</b><br>
      <%= link_to "Update Lesson", edit_lesson_path %> <br> &nbsp;&nbsp;&nbsp; 
      <%= button_to "Delete Lesson", lesson_path(@lesson), method: :delete %>
      <br><br>
      
      </font>
      </td>
   </tr>
  
   
</table>


