<br><br><br><br><br><br>
<center><h2>Lesson Confirmation</h2></center>
<br><br>

   <center><font size="5px">
   Hi <b><%= @lesson.user.first_name %></b>, your lesson has been confirmed! 
   </font></center>
   <br>
   <table style="width:400px" cellpadding="2px" align="center">
      <tr>
      <th>Date:</th>
      <td><%= @lesson.date %></td>
   </tr>
   <tr>
      <th>Time:</th>
      <td><%= @lesson.time %></td>
   </tr>
   <tr>
      <th style="width:40%">Lesson:</th>
      <td style="width:60%"><%= @lesson.lesson_name %></td>
   </tr>
   <tr>
      <th>Instructor:</th>
      <td><%= @lesson.instructor.full_name %> </td>
   </tr>
   <tr>
      <th>Location:</th>
      <td><%= @lesson.location.city_state %> </td>
   </tr>
   <tr>
      <th>Skill Level:</th>
      <td><%= @lesson.skill_level %></td>
   </tr>
   <tr>
      <th>Hand Position:</th>
      <td><%= @lesson.hand_position %> </td>
   </tr>
   <tr>
      <th> </th>
      <td> </td>
   </tr>
   
</table>
   
    
<table style="width:400px" cellpadding="2px" align="center">

   <tr>
      <td>
        <br> <hr><br>
      <font size="2px">
      <center><b><%= link_to 'Go to My Lesson Page', user_path %></b></center>


      <br>
      <b>Ready to schedule another lesson? &nbsp;
      <%= link_to 'Book New Lesson', new_lesson_path %></b><br>
      <b>Need to make changes to this lesson? &nbsp;
      <%= link_to "Update Lesson", edit_lesson_path %></b> &nbsp;
      <br> <br>
     
      <%= form_for @lesson, method: :delete do |f| %> <%= f.submit "Delete Lesson" %><% end %>
      </font>
      </td>
   </tr>
  
   
</table>


